.content {
  width: 1200px;
  margin: 10px auto 30px;
  padding: 20px;
  border: 2px solid #02094e;
  border-radius: 20px;
}
.createBlock {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}


.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9000;
}

.btn {
  cursor: pointer;
  padding: 5px;
}