.quantity {
  text-align: center;
}

.imgName {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.titleBlockTotal {
  display:grid;
  grid-template-columns: 3fr 2fr 2fr 3fr;
  background-color: #999999;
  color:#ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


.totalItem {
  display:grid;
  align-items: center;
  grid-template-columns: 3fr 2fr 2fr 3fr;
  color: #999999;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  gap: 5px;
  background-color: #e8eaf5;
  padding: 10px;
}

.nameBlock {
  display: flex;
  gap: 5px;
  align-items: center;
}

.titleItem {
  padding: 10px;
  text-align: center;
}

