.titleContent {
    margin: 10px 0 20px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:#999999;
    text-align: center;
}

.noItems {
    margin: 20px 0;
    text-align: center;
}